* {
    box-sizing: border-box;
}

:root {
    --primary-color: #56a5eb;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ecf5ff;
}

header {
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    text-decoration: underline;
}

#wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    max-width: 45%;
    padding: 25px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid var(--primary-color);
    background-color: aliceblue;
}

h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: var(--primary-color);
}

p {
    margin: 40px;
}

button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 100px;
    justify-content: center;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background-color: white;
}

button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    transition: transform 1s;
}

#questionsDiv {
    margin: 30px;
}

#createDiv {
    margin-top: 20px;
    padding: 10px 0;
    border-top: 1px solid var(--primary-color);
}


li {
    background-color: white;
    color: var(--primary-color);
    margin-top: 10px;
    padding: 5px 15px;
    width: 250px;
    font-size: 18px;
    border: 1px solid var(--primary-color);
}

li:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.25);
    transition: transform 1s;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid var(--primary-color);
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #wrapper {
        min-width: 400px;
    }
}